/* Update the font family for the entire website */
body, footer{
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    box-sizing: border-box;
}

h2 {
    font-size: 2rem; 
    color: #333;
}

h3{
    font-size: 1.5rem;
    color: #2a2929; 
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    border: 1px solid #dbc5c5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

header .profile-pic{
    width: 20%; 
    border-radius: 10%;
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
}

/* Style the navigation links */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
    font-style: italic;
    font-weight: 500;
    font-size: 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff9900;
}

#toogle{
    display: none;
}

.line{
    display: none;
}

@media screen and (max-device-width: 700px){
    header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
         
    }

    nav{
       display: block;
       margin-top: 0;
    }

    header h1{
        font-size: 1.7rem;
        margin-top: 0;
    }
    
    #toogle{
        display: block;
        font-size: 1.7rem;
        cursor: pointer;
        margin-right: 1rem;
    }

    #menu{
        display: none;
    }

    nav ul li{
        text-align: left;
        display: block;
        line-height: 2;
    }

    .line{
        display: block;
        border: 1px solid #fff;
    }

    
}

/* CSS Style for sections */
.section {
    padding: 2rem;
    background-color: #fff;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Add this CSS to style the horizontal lines under section headings */
.section h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: #0077b5; 
    margin-top: 10px; 
}

/* Adjust the line color on hover for a subtle interactive effect */
.section h2:hover::after {
    background-color: #005f93;
}


/* Style the "About Me" section */

/* Style for "Education" section */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 5rem auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #333;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 1rem 3.6rem;
    position: relative;
    background-color: inherit;
    width: 40%;
    
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0%;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 40px;
    border: medium solid #333;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #333;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 40px;
    border: medium solid #333;
    border-width: 10px 10px 10px 0;
    border-color: transparent #333 transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 1rem;
    position: relative;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 80%;
    padding-left: 70px;
    /* padding-right: 25px; */
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid #333;
    border-width: 10px 10px 10px 0;
    border-color: transparent #333 transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }

  .coding-platforms{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  /* CSS to style "Skills" section */

  .skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .skills div{
    padding: 1rem;
  }

  .skills div img{
    width: 4rem;
  }

/* CSS to style the project section */

.project-item{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

.project-item:nth-of-type(even){
    flex-direction: row-reverse;
}

.project-item h3{
    margin-top: 0;
    font-weight: bolder;
}

.project-item i{
    margin-right: .3rem;
    font-size: 1rem;
}
 
.project-item img {
    display: block; 
    margin: 0 auto; 
    width: 50%; 
    border: 2px solid #ddd; 
    border-radius: 5px; 
    margin: auto .7rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.project-item .skills{
    margin-bottom: 1rem;
}

.project-item .skills span{
    text-align: center;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: .8rem;
}

.btn {
    display: inline-block;
    margin-left: auto;
    margin-top: .5rem;
    padding: .5rem 1rem;
    background-color: #0077b5;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #005f93;
}

@media screen and (max-device-width: 700px){
    .project-item{
        display: block;
    }

    .project-item img{
        width: 90%;
    }
}

/* Style the "Contact Me" section */


/* Style the links in the "Contact Me" section */
#contact a {
    text-decoration: none;
    color: #0077b5;
    font-weight: bold;
    transition: color 0.3s;
}

#contact a:hover {
    color: #005f93;
}

/* CSS style for social media icons */

.personal-contact{
    text-align: center;
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
}



/* CSS for page Loader styles */

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the loader is on top of everything */
}
  
.loader {
    border: 4px solid #f3f3f3; /* Light grey border */
    border-top: 4px solid #333; /* Blue border */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite; /* Spinner animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add more CSS for styling as needed */
