/* Update the font family for the entire website */
body, footer{
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border: 1px solid #dbc5c5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 36px;
}

/* Style the navigation links */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff9900;
}

#toogle{
    display: none;
}

.line{
    display: none;
}

@media screen and (max-width: 700px){
    header{
        display: flex;
        justify-content: space-around; 
    }

    nav{
       display: block;
       font-size: 10px;
       margin-top: 0;
    }

    header h1{
        font-size: 20px;
        margin-top: 0;
    }
    
    #toogle{
        display: contents;
        color: #fff;
        font-size: x-large;
        cursor: pointer;
    }

    #menu{
        display: none;
    }

    nav ul li{
        text-align: left;
        display: block;
        line-height: 2;
        font-size: 15px;
    }

    .line{
        display: block;
        color: #fff;
    }

    
}

/* Style sections */
.section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Add this CSS to style the horizontal lines under section headings */
.section h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: #0077b5; 
    margin-top: 10px; 
}

/* Adjust the line color on hover for a subtle interactive effect */
.section h2:hover::after {
    background-color: #005f93;
}


/* Style the "About Me" section */
#about h2 {
    font-size: 24px;
    color: #333;
}

#about p {
    font-size: 16px;
    line-height: 1.5;
}

/* Add this CSS to style the images in the portfolio section */
.portfolio-item img {
    display: block; 
    margin: 0 auto; 
    max-width: 75%; 
    border: 2px solid #ddd; 
    border-radius: 5px; 
    margin: 10px auto; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}



/* Style the "Contact Me" section */
#contact h2 {
    font-size: 24px;
    color: #333;
}

#contact p {
    font-size: 16px;
    line-height: 1.5;
}

/* Style the links in the "Contact Me" section */
#contact a {
    text-decoration: none;
    color: #0077b5;
    font-weight: bold;
    transition: color 0.3s;
}

#contact a:hover {
    color: #005f93;
}

/* Add this to your CSS for button styling */
.btn {
    display: inline-block;
    margin-left: auto;
    padding: 10px 20px;
    background-color: #0077b5;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #005f93;
}

/* Adjust icon colors if needed */
.github-icon {
    color: #333;
}

.linkedin-icon {
color: #0077b5;
}

.twitter-icon {
color: #1da1f2;
}

.medium-icon {
color: #00ab6c;
}

.instagram-icon {
color: #e4405f;
}

/* Add more CSS for styling as needed */
